.dotsCustom {
  display: inline-block;
  vertical-align: middle;
  margin: auto 0;
  padding: 0;
}
.dotsCustom li {
  list-style: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 1em;
}
.dotsCustom li button {
  border: 0.1em solid #fff;
  color: transparent;
  cursor: pointer;
  display: block;
  height: 0.8em;
  width: 0.8em;
  border-radius: 100%;
  padding: 0;
}
.dotsCustom li.slick-active button {
  background-color: #fff;
}

/* new products carousel */
.slick-dots li button::before {
  font-size: 0.5em;
  color: #ccc;
}
.slick-dots li.slick-active button::before {
  color: #00913a;
  opacity: 1;
}
