.dotsCustom {
  display: inline-block;
  vertical-align: middle;
  margin: auto 0;
  padding: 0;
}
.dotsCustom li {
  list-style: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 10px;
}
.dotsCustom li button {
  border: 1px solid #fff;
  color: transparent;
  cursor: pointer;
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  padding: 0;
}
.dotsCustom li.slick-active button {
  background-color: #fff;
}

/* new products carousel */
.slick-dots li button::before {
  font-size: 10px;
  color: #ccc;
}
.slick-dots li.slick-active button::before {
  color: #00913a;
  opacity: 1;
}
